/* CSS STYLE */

#grid{
    width: 500px;
    height: 500px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    display: none;
}

#grid .active{
    display: block;
}

#grid .cell{
    width: calc(100% / 10);
    height: calc(100% / 10);
    border: 1px solid white;
}
